body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #eee;
	color: ccc;
	text-align: center;
	line-height: 1.2em;
}
#objective, th[scope="row"], tfoot {
	text-align: left;
}
header, #settings, #objective, #dataSummarized, #dataDetailed, table, footer {
	padding: 3% 5%;
}
button {
	background-color: rgba(68, 68, 68, .2);
	color: #fff;
	border-radius: 5px;
	border: none;
	padding: 1em 2em;
	margin-top: 1em;
	font-size: 1.1em;
	text-transform: uppercase;
}
button:hover {
	background-color: rgba(68, 68, 68, 1);
	transition: .3s;
}
#dataDetailed {
	padding-left: 0;
	padding-right: 0;
	background-color: RGBA(255, 153, 0, .7);
}
#dataDetailed:hover {
	background-color: RGBA(255, 153, 0, 1);
	transition: .3s;
}
#dataDetailed h3 {
	padding-bottom: 3%;
}
button:hover, input:hover, #dataDetailed:hover {
	cursor: pointer;
}
header {
	background: #339966;
	color: #eee;
	text-align: center;
}
a {
	color: #339966;
	text-decoration: none;
}
table {
	margin: 0 auto;
	width: 100%;
}
select, input {
	width: 75%;
	text-align: center;
	border-radius: 5px;
	font-size: 1.1em;
}
h1, h2, h3, caption {
	margin: 0;
	padding: 3% 3% .5%;
	line-height: normal;
}
h1 {
	padding-top: 0;
	font-size: 5em;
	letter-spacing: -.01em;
	color: #eee;
}
#objective {
	background-color: #ccc;
	padding-top: 40px;
}
#settings {
	background: cadetblue;
}
.tab {
	width: 50%;
	display: inline-block;
	float: left;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 1.1em;
}
.tab:nth-of-type(1) {
	background: #ccc;
}
.tab:nth-of-type(2) {
	background: cadetblue;
}
#settings table {
	width: 60%;
}
.tab, h3, caption {
	text-transform: uppercase;
}
th, td {
	padding: .5em;
}
#detailedDowntown, #detailedSouthLakeUnion, #detailedBallard, #detailedDowntown caption, #detailedSouthLakeUnion caption, #detailedBallard caption {
	background: #ccc;
}
#detailedCapitolHill, #detailedWedgewood, #detailedCapitolHill caption, #detailedWedgewood caption {
 background: #e6e6dc;
}

@media (min-width: 1000px) {
	body {
		margin-left: 20%;
		margin-right: 20%;
	}
}
@media (max-width: 1000px) {
	body {
		font-size: .8em;
	}
	header h1 {
		font-size: 3em;
	}
	header h2 {
		display: none;
	}
	#objective, #settings {
		display: none;
	}
	#settings table {
		width: 75%;
	}
	#dataSummarized {
		padding-left: 0;
		padding-right: 0;
		padding-top: 40px;
	}
	th, td {
		padding: .3em .15em;
	}
}
#template_dataDetailed, #detailedDowntown, #detailedCapitolHill, #detailedSouthLakeUnion, #detailedWedgewood, #detailedBallard {
	display: none;
}


/*#detailedWedgewood_donutsPerHr td:nth-of-type(1) {
	background-color: red;
}*/




